html {
  height: 100%;
}

body {
  /* Vertical alignment of <header>, <main> and <footer> */
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.prose {
  @apply text-base;
}

.container {
  @apply mx-auto w-full max-w-7xl px-6 py-10 lg:px-8;
}
.container-mini {
  @apply mx-auto w-full max-w-3xl;

  .container-escape {
    @apply lg:-ml-40 lg:-mr-40;
  }
}
