<footer class="bg-accent text-white mt-4 py-16 lg:py-24" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="lg:grid lg:grid-cols-4 lg:gap-8">
      <div class="lg:col-span-2 space-y-8">
        <img class="h-7" src="{{ config.base_url ~ config.extra.site_logo }}" alt="{{ config.extra.site_logo_alt }}">
        {% if config.extra.site_tagline -%}
          <p class="text-sm leading-6">{{ config.extra.site_tagline | safe }}</p>
        {%- endif %}
        <div class="flex space-x-2 text-white/80">
          <a href="mailto:info@assured-training.org">
            <span class="sr-only">Email</span>
            <i class="fa-solid fa-envelope fa-fw pt-1"></i>
          </a>
          <a href="https://mastodon.social/@assured">
            <span class="sr-only">Mastodon</span>
            <i class="fa-brands fa-mastodon fa-fw pt-1"></i>
          </a>
          <a href="https://assured.bsky.social">
            <span class="sr-only">Bluesky</span>
            <i class="fa-brands fa-bluesky fa-fw pt-1"></i>
          </a>
        </div>
      </div>
      <div class="md:mt-16 grid gap-y-48 lg:col-span-2 lg:mt-0">
        <div class="grid grid-rows-2 md:grid-rows-1 md:grid-cols-2 gap-8">
          <div class="mt-10 md:mt-0">
            <h3 class="text-sm font-semibold leading-6 text-white">
              Quick links
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              {% set root = get_section(path="_index.md") %}
              {% if root.pages %}
                {% for page in root.pages %}
                  <li>
                    <a href="{{ page.permalink | safe }}" class="text-sm leading-6">
                      {{ page.title }}
                    </a>
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
          <div>
            <h3 class="text-sm font-semibold leading-6 text-white">
              Contact
            </h3>
            <ul role="list" class="mt-6 space-y-4">
              <li class="flex flex-row space-x-2">
                <i class="fa-solid fa-envelope fa-fw pt-1"></i>
                <a href="mailto:info@assured-training.org" class="text-sm">
                  info@assured-training.org
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-white/50 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-white/70">&copy; {{ config.extra.copyright | safe }}</p>
    </div>
  </div>
</footer>
