<h3>{{ title }}</h3>

<!--
<div class="flex flex-row space-x-2 my-4">
  <i class="fa-solid fa-phone fa-fw pt-1"></i>
  <a href="tel:+49 89 2180-0" class="text-sm">
    +49 89 2180-0
  </a>
</div>
-->
<div class="flex flex-row space-x-2 my-4">
  <i class="fa-solid fa-envelope fa-fw pt-1"></i>
  <a href="mailto:{{ email }}" class="text-sm">
    {{ email }}
  </a>
</div>
<!--
<div class="flex flex-row space-x-2 my-4">
  <i class="fa-solid fa-location-dot fa-fw pt-1"></i>
  <span class="text-sm">
    SODA<br>
    Geschwister-Scholl-Platz 1<br>
    80539 München
  </span>
</div>
-->
