<h3>{{ title }}</h3>

<div class="flex flex-row space-x-2 my-4">
  <i class="fa-solid fa-phone fa-fw pt-1"></i>
  <a href="tel:+49 (123) 456 789" class="text-sm">
    +49 (123) 456 789
  </a>
</div>
<div class="flex flex-row space-x-2 my-4">
  <i class="fa-solid fa-envelope fa-fw pt-1"></i>
  <a href="mailto:assured4sr@gmail.com" class="text-sm">
    assured4sr@gmail.com
  </a>
</div>
<div class="flex flex-row space-x-2 my-4">
  <i class="fa-solid fa-location-dot fa-fw pt-1"></i>
  <span class="text-sm">
    Mathematikon<br>
    Berliner Straße 4<br>
    69120 Heidelberg
  </span>
</div>
