{% import "macros/media.html" as media %}
{% set data = load_data(path=data_path) %}

<div class="container-mini prose prose-xl !pt-32">
  <h2 class="text-center pb-0">{{ title }}</h2>
  <div class="container-escape my-8 grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 gap-x-8 md:gap-x-12">
  {%- for institution in data.institution %}
    <div class="text-center p-4 flex justify-center">
      {% if institution.image -%}
      {{-
        media::picture(
          img=image_path ~ institution.image,
          widths=[320, 640],
          class="block w-full",
          attrs=""
        )
      -}}
      {%- endif %}
    </div>
  {% endfor -%}
  </div>
</div>
