<div class="text-white bg-gray-900 lg:py-40">
  <div class="container">
    <div class="text-xl font-bold text-center text-balance mx-auto md:max-w-4xl">
      {{ header }}
    </div>
  </div>
  <div class="container flex flex-row flex-wrap justify-center content-around">
    {% for box in boxes %}
      {% set data = box | split(pat="/") %}
      <div class="max-w-64 text-black bg-white text-center shadow-lg rounded-lg m-3 p-8">
        <div class="text-lg font-bold leading-tight mb-4">
          {{ data.0 | trim() }}
        </div>
        <div class="">
          {{ data.1 | trim() }}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
