{% import "macros/media.html" as media %}
<div
  class="text-white bg-gray-900"
  style="background:
    radial-gradient(ellipse 100% 100% at top, transparent, rgb(17 24 39 / var(--tw-bg-opacity))),
    center / cover no-repeat {{ media::image_set(img=background_image, widths=[1920]) }},
    {#- More background resolutions (720, 1920, 2560, & 3840px) would be nice, see media macros -#}
    black;"
>
  <div class="container md:py-32 lg:grid lg:gap-8 lg:py-20 lg:pb-40 drop-shadow-lg">
    <div class="text-center lg:text-center">

      <div class="pt-8">
        <img class="block opacity-100 max-w-lg mx-auto" src="{{ config.base_url ~ logo_image }}">
      </div>
      
      <div class="text-white/70 text-lg font-bold py-6">{{ subtitle }}</div>
      <h1 class="text-2xl font-bold leading-tight text-balance">
        {{ tagline | safe }}
      </h1>
      <div class="py-8">
        <a href="{{ config.base_url ~ more_href }}" class="text-white/70 text-lg font-bold">
          {{ more | safe }}
        </a>
      </div>
    </div>
  </div>
</div>
