<div class="flex flex-wrap {% if color %}text-{{color}}{% endif %} {% if bg %}bg-{{bg}}{% endif %} relative">
    {% if title %}
    <h3 class="uppercase text-sm block font-bold mb-12 w-full">{{title}}</h3>
    {% endif %}
    <div class="text-base leading-tight w-full max-w-[960px] mx-auto pl-0 lg:pr-8 mb-10 lg:mb-0">
        {% set data = load_data(path=data_path) %}
        {%- for news in data.news %}
        {% if not news.skip_feed %}
        <div class="p-8 border rounded-md mb-8 {% if news_bg %}bg-{{news_bg}}{% else %}bg-white{% endif %}">
            <div class="text-sm mb-8 inline-block flex justify-between w-full">
                <div>
                    {% if news.by %}
                    <span class="font-bold mb-2 inline-block mr-2">{{news.by}}</span>
                    {% endif %}
                    {{news.date}}
                </div>
                {% if news.originalurl %}
                <div>
                    <a class="text-right" href="{{news.originalurl}}" target="_blank">View original post</a>
                </div>
                {% endif %}
            </div>
            {% if news.title %}
            <div class="font-semibold mb-8">{{news.title}}</div>
            {% endif %}
            <div class="text-base leading-tight">
                {{news.anews | markdown | safe }}
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
