<!doctype html>
<html lang="en-GB">
<head>
  <title>
    {{ config.extra.site_title }} · {% block title %}
      {%- if page %}
        {{ page.title }}
      {% elif section %}
        {{ section.title }}
      {% elif title %}
        {{ title }}
      {% endif -%}
    {% endblock %}
  </title>
  <style>
a:hover {
  text-decoration: underline !important;
}
a {
  text-decoration: none !important;
}
</style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% include "partials/load_fonts.html" %}
  {% include "partials/load_tailwind.html" %}
  {% include "partials/favicon.html" %}
</head>
<body>
  {% block body %}
  {% endblock %}
</body>
</html>
